@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
header .nav-link{
    font-weight: 600;
}
.banner-left h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 5.1rem;
}
.orange{
    color: #FABE4C;
}
.button{
    width: 170px;
    height: 60px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
    border-color: #8ca33185;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.product h1{
    font-family: 'Bebas Neue', cursive;
}
.product-item{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.product-item img{
    width: 100%;
    background: #F1F1F1;
    border-radius: 20px;
    padding: 10px;
}
.product-item h2{
    font-size: 24px;
    font-weight: 700;
}
.product-item h3{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
}
.bottom-banner h2{
    font-size: 24px;
    font-weight: 700;
}
.bottom-banner .item{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}